body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image: url(background.jpg);
  background-repeat;repeat;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
h1{
  color:#6699ff;
  font-size: 34px;
}
.Awesome{
  color:red;
}
#Rainbow{
  color:green;
  font-size: 40px
}
